@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* colors */
    --primary--100: #0B0D17;
    --primary--200:#D0D6F9;
    --primary--300: #FFFFFF;

    /* fonts sizes */
    --heading-100: 150px;
    --heading-200: 100px;
    --heading-300: 56px; 
    --heading-400: 32px; 
    --heading-500: 28px; 
    
    --subheading-100: 28px; 
    --subheading-200: 14px; 
    --subheading-300: 16px; 
    
    --paragraph: 18px;
    /* letter spacing */
    --char-space-100: 4.75;
    --char-space-200: 2.70;
    --char-space-300: 2.35;
}
.primary-color--100{
    color: var(--primary--100)
}
.primary-color--200{
    color: var(--primary--200)
}
.primary-color--300{
    color: var(--primary--300)
} 

.heading-fs--100{
    font-size: var(--heading-100);
}
.heading-fs--200{
    font-size: var(--heading-200);
}
.heading-fs--300{
    font-size: var(--heading-300);
}
.heading-fs--400{
    font-size: var(--heading-400);
}
.heading-fs--500{
    font-size: var(--heading-500);
    letter-spacing: var(--char-space-100);
}

.subheading-fs--100{
    font-size: var(--subheading-100);
}
.subheading-fs--200{
    font-size: var(--subheading-200);
    letter-spacing: var(--char-space-300);
}
.subheading-fs--300{
    font-size: var(--subheading-300);
    letter-spacing: var(--char-space-200);
}